@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
  --bg-brown: #c4c4c4;
  --head-red: #f51010;
  --accent-red: #f31919;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-brown);
}

* {
  box-sizing: content-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  color: var(--head-red);
  font-size: 3rem;
  margin-bottom: 25px;
}

.about {
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}

.start_btn,
.confirm_btn {
  background-color: var(--accent-red);
  border: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.8rem 2.6rem;
  cursor: pointer;
}

.start_btn:active {
  transform: scale(0.98);
  background-color: var(--head-red);
}

.client_form {
  display: none;
  text-align: center;
  width: 33%;
}

.input_fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}

.input_field {
  display: flex;
  flex-direction: column;
}

.field_label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2px;
}

.field_input {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.3rem;
  width: 185px;
  max-width: 185px;
  text-align: center;
}

/* PopUp */
.confirmation {
  /* display: none; */
  opacity: 0;
  width: 380px;
  border: 2px solid #000;
  background-color: var(--bg-brown);
  padding: 30px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.2s ease;
  z-index: 20;
}

.confirmation.active {
  /* display: block; */
  opacity: 1;
  transition: all 0.2s ease;
  transform: translate(-50%, -50%) scale(1);
  z-index: 20;
}

.conf_message {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.conf_text {
  font-weight: 600;
  margin-bottom: 30px;
}

.conf_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.finish_btn {
  background-color: var(--accent-red);
  border: none;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 6px 12px;
  cursor: pointer;
  max-width: 150px;
}
